* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 680px;
    margin: auto;
    margin-top: 20px;
}

article {
    border: 1px solid #ECF0F1;
    padding: 20px;
}

article .poster {
    width: 640px;
    height: 350px;
    background-color: #A1B1BC;
    margin-bottom: 14px;
}

.content header {
    border-bottom: 1px solid #ECF0F1;
    padding-bottom: 13px;
    margin-bottom: 14px;
}

.content header h3 {
    color: #21C2F8;
    font-family: 'Lobster';
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 4px;
}

.content header p {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 30px;
    color: #A1B1BC;
    letter-spacing: -0.05px;
    word-spacing: -1.5px;
   
    
    
}

.content header p span::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    background-color: #EBEBEB;
    vertical-align: middle;
    margin-left: 13px;
    margin-right: 13px;
}

.content header p span:last-child::after {
    display: none;
}

.content .text p {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    margin-bottom: 20px;
    word-spacing: -0.55px;
}

.content .text a {
    text-decoration: none;
    color: #21C2F8;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}