*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
footer{
    margin-top: 50px;
}
.top{
    background-color: #222533;
    
}
.bottom{
    background-color: #171D22;
    
}
.bottom .wrapper{
    padding-top: 20px;
    padding-bottom: 36px;
}
.wrapper{
    width: 1168px;
    margin:auto;
    display: flex;
}

.wrapper div{
    width: 270px;
    margin-right: 30px;
    padding-bottom: 14px;
}


.wrapper div:last-child{
    margin-right:0;
}
.top .wrapper div{
    margin-top: 24.5px;
    margin-bottom: 29px;
}

.bottom .wrapper p{
    font-size: 15px;
    line-height: 24px;
    font-family: 'PT Sans';
    color:#A1B1BC;
    margin-top: 19px;

}
.bottom .wrapper a{
    text-decoration: none;
    color:#1ABC9C;

}
.top .wrapper h3{
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    margin-bottom: 37px;
    letter-spacing: 4.5px;
}



.top .wrapper h3:after{
    content: "";
    width: 70px;
    height: 3px;
    background-color: #1ABC9C;
    display: block;
}
.wrapper div ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 11px;
  
  
}
.wrapper div ul li:after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #707070;
    display: block;
    margin-top:10px;
    margin-bottom: 10px;
}
.wrapper div ul li:last-child::after{
    display:none;

}
.wrapper div ul li:last-child::after{
    display:block;

}

.wrapper ul li:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}
.wrapper ul li:first-child{
    
}

.wrapper div ul a{
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 24px;
    color:#ECF0F1;
    text-decoration: none;
}
.wrapper div ul a:hover{
    color: #1ABC9C;
}
.wrapper ul li span{
    color:#A1B1BC;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 3px;
}
.wrapper .notes{
    color: #A1B1BC;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 47px;
}
.wrapper .notes p{
    
    font-size: 15px;
    line-height: 24px;
    margin-top: -18px;
    font-family: 'PT Sans';
}
.wrapper .notes a{
    font-family: 'PT Sans';
    font-weight: 700px;
    text-decoration: none;
    color:#1ABC9C;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;

}