main{
    width: 600px;
    margin:auto;
}
header, .col-1, .col-2, .col-3, footer{
    background-color: blue;
    height: 150px;
    margin-bottom: 30px;
   
}
header{
    width: 100%;
}
.col-1, .col-2, .col-3{
    width:180px;
    float:left;
    margin-right: 20px;
}
.row .cell:last-child{
    margin-right: 0;
}
footer{
    clear: both;
}