.message{
    position: absolute;
    top:30px;
    right: 30px;
    width: 300px;
    padding: 10px 15px;
    border: 1px solid grey;
    
}
.message a{
    position: absolute;
    top:15px;
    right:15px;
    text-decoration: none;
    color:black;

}
.message span{
    color:grey;
    width: 280px;
    display: inline-block;
}
.message p{
    font-weight: bold;
    font-size: 20px;
}