.badge{
    width: 100px;
    height: 100px;
    background-color: bisque;
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;
}
.badge .label{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
  
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding:3px 12px;
    border: 1px solid white;
}